<div class="page-container">
  <a href="javascript:void(0)" routerLink="/companies/create-or-update" tittle="agregar"><mat-icon>add_circle</mat-icon></a>
  <div class="content-container">
    <mat-card class="card-item" *ngFor="let company of companies">
      <div class="card-header" fxLayout="row" fxLayoutAlign="space-betwen center">
        <h3 class="card-title" fxFlex>{{company.name}} [{{company.id}}]</h3>
        <div class="card-actions" fxFlex="2rem">
          <button mat-mini-fab color="primary" mat-tooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon> library_books </mat-icon>
            <span> Comprobantes </span>
          </button>
        </mat-menu>
      </div>
      <div class="flex-container" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Cuit</p>
          <p class="card-info-text">{{company.cuit}}</p>
        </div>
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Email</p>
          <p class="card-info-text">{{company.email}}</p>
        </div>
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Cantidad de pasantes</p>
          <p class="card-info-text">18</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
