<h2 class="text-center text-themecolor"> Nuevo Profesor </h2> <br>

<form [formGroup]="teacherForm" (submit)="onSubmit()" class="col-12 col-sm-6">


  <ng-container *ngIf="step; else stepTwo">

  <!-- <h2 class="text-themecolor"> Informacion Escencial </h2> -->

    <mat-form-field class="col-6">
      <input matInput placeholder="Name"
             formControlName="names">
    </mat-form-field>
      
    <mat-form-field class="col-6">
      <input matInput placeholder="Surname"
             formControlName="surnames">
    </mat-form-field>
    
    <mat-form-field class="col-12">
      <input matInput placeholder="Email"
             formControlName="email">
    </mat-form-field>
    
    <mat-form-field class="col-6">
      <input matInput placeholder="Dni"
             formControlName="dni">
    </mat-form-field>
      
    <mat-form-field class="col-6">
      <input matInput placeholder="Cuil"
             formControlName="cuil">
    </mat-form-field>
    
    <mat-form-field class="col-8">
      <mat-select placeholder="Carrera"
                  formControlName="career"
                  [value]>
        <mat-option>
          Programacion
        </mat-option>
        <mat-option value="Administracion de empresas">
          Administracion de empresas
        </mat-option>
        <mat-option value="Ingenieria en Sistemas">
          Ingenieria en Sistemas
        </mat-option>
        <mat-option value="Ingenieria Automotriz">
          Ingenieria Automotriz
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- Prueba 
    <mat-form-field class="col-12">
      <input matInput placeholder="Tutor" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
          <span>     {{state.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    Prueba -->
    
    <mat-radio-group class="col-12">
      <div class="mb-3 ml-3">Sexo</div>
      <mat-radio-button class="col-6">
        Femenino
      </mat-radio-button>
      <mat-radio-button class="ml-6">
        Masculino
      </mat-radio-button>
      </mat-radio-group>
    
    <div class="mt-2">
      <button mat-flat-button color="accent" type="text" (click)="nextStep()" class="btn btn-block"> <mat-icon> add_circle </mat-icon> Siguiente  </button>
    </div>

  </ng-container>

  <div formGroupName="address">
    <ng-template #stepTwo>
        
    <!-- <h2 class="text-themecolor"> Direccion </h2>    -->

      <mat-form-field class="col-6">
        <input matInput placeholder="Calles"
                formControlName="streetAddress">
      </mat-form-field>
        
      <mat-form-field class="col-6">
        <input matInput placeholder="Ciudad"
                formControlName="city">
      </mat-form-field>
      
      <mat-form-field class="col-12">
        <input matInput placeholder="Provincia"
                formControlName="state">
      </mat-form-field>
      
      <mat-form-field class="col-6">
        <input matInput placeholder="Codigo Postal"
                formControlName="zipCode">
      </mat-form-field>
        
      <mat-form-field class="col-6">
        <input matInput placeholder="País"
                formControlName="country">
      </mat-form-field>
  
  
      <div class="mt-2">
        <button mat-flat-button color="accent" type="text" (click)="backStep()"  class="btn btn-block"> <mat-icon> add_circle </mat-icon> Volver  </button>
      </div>
  
      <div class="mt-2">
        <button mat-flat-button color="accent" type="submit"  class="btn btn-block"> <mat-icon> add_circle </mat-icon> Crear  </button>
      </div>
    </ng-template>
  </div>

</form>
