<div class="modal-header">
  <h2 class="modal-title">{{ title }}</h2>
  <!-- <div class="modal-close"><i class="material-icons">clear</i></div> -->
</div>
<div class="modal-content">
  <div class="flex-container">
    <div class="new-input-container new-icon-input">
      <mat-form-field fxFlex>
        <input matInput type="text" autocomplete="off" placeholder="Buscar por nombre/legajo" (keyup.enter)="searchTeachers($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="flex-container">
    <!-- <loading dialog="true" name="dialog"></loading> -->
    <div class="grid-container">
      <div class="grid-header">
        <p class="grid-title" fxFlex>ID</p>
        <p class="grid-title" fxFlex>Nombre Completo</p>
        <p class="grid-title" fxFlex>Dni</p>
        <p class="grid-title" fxFlex>Cuil</p>
        <!-- <p class="grid-title" fxFlex="6rem">Precio</p>
        <p class="grid-title" fxFlex="16rem">Prox. Fecha Venc</p> -->
      </div>
      <div class="grid-content">
        <div class="grid-item-container" *ngFor="let person of persons">
          <p class="grid-item" fxFlex>{{ person.file }}</p>
          <p class="grid-item" fxFlex>{{ person.names }} {{person.surnames}}</p>
          <p class="grid-item" fxFlex>{{ person.dni }}</p>
          <p class="grid-item" fxFlex>{{ person.cuil }}</p>
          <div class="grid-item" fxFlex="3rem">
            <button mat-mini-fab color="accent">
              <mat-icon>note_add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
