<div class="modal-header">
  <h2 class="modal-title">{{ title }}</h2>
  <!-- <div class="modal-close"><i class="material-icons">clear</i></div> -->
</div>
<div class="modal-content">
  <div class="flex-container">
    <div class="new-input-container new-icon-input">
      <mat-form-field fxFlex>
        <input matInput type="text" autocomplete="off" placeholder="Buscar por nombre/legajo" (keyup.enter)="searchTeachers($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="flex-container"> -->
    <!-- <loading dialog="true" name="dialog"></loading> -->
    <div class="grid-container">
      <div class="grid-header" >
        <p class="grid-title">ID</p>
        <p class="grid-title">Nombre Completo</p>
        <p class="grid-title">Dni</p>
        <p class="grid-title">Cuil</p>
        <p class="grid-title">Action</p>
        <!-- <p class="grid-title"="6rem">Precio</p>
        <p class="grid-title"="16rem">Prox. Fecha Venc</p> -->
      </div>
      <div class="grid-content">
        <!--*ngFor="let item of items" -->
        <div class="grid-item-container">
          <p class="grid-item">2222</p>
          <p class="grid-item">Corvalan Gabriel Gonzalo</p>
          <p class="grid-item">40475304</p>
          <p class="grid-item">20404753046</p>
          <div class="grid-item">
            <button mat-mini-fab color="accent">
              <mat-icon>note_add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
