<div class="page-container">
  <div class="content-container">
    <mat-card fxFlex class="card-item" *ngFor="let teacher of teachers">
      <div class="card-header" fxLayout="row" fxLayoutAlign="space-betwen center">
        <h3 class="card-title" fxFlex>{{teacher.names}} {{teacher.surnames}}</h3>
        <div class="card-actions" fxFlex="2rem">
          <button mat-mini-fab color="primary" mat-tooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon> library_books </mat-icon>
            <span> Comprobantes </span>
          </button>
        </mat-menu>
      </div>
      <div class="flex-container" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-betwen start">
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Legajo</p>
          <p class="card-info-text">{{teacher.file}}</p>
        </div>
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Dni</p>
          <p class="card-info-text">{{teacher.dni}}</p>
        </div>
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Carrera</p>
          <p class="card-info-text">{{teacher.career.name}}</p>
        </div>
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Email</p>
          <p class="card-info-text">{{teacher.email}}</p>
        </div>
        <!--
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Dni</p>
          <p class="card-info-text">{{teacher.dni}}</p>
        </div> -->
      </div>
    </mat-card>
  </div>
</div>
