<!-- <mat-form-field class="col-12 col-sm-8">
  <input matInput placeholder="Buscar">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div>
  <a href="javascript:void(0)" routerLink="/teachers/create-or-update" tittle="agregar" class="ml-2 d-inline" style="float: right"><mat-icon>add_circle</mat-icon></a>
</div>
<div class="responsive">
  <table>
      <thead>
        <tr>
          <th scope="col"> Legajo </th>
          <th scope="col"> Nombre Completo </th>
          <th scope="col"> Dni </th>
          <th scope="col"> Email </th>
          <th scope="col"> Carrera </th>
          <th scope="col"> Rol </th>
          <th scope="col"> Acciones </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td data-label="Legajo"> {{teacher.file}} </td>
          <td data-label="Nombre Completo"> {{teacher.names}} {{ teacher.surnames }} </td>
          <td data-label="Dni"> {{teacher.dni}} </td>
          <td data-label="Email"> {{teacher.email}} </td>
          <td data-label="Carrera"> {{teacher.career.name}} </td>
          <td data-label="Rol">
            <label class="badge badge-danger">
                Estudiante
            </label>
          </td>
          <td  data-label="Acciones">
            <a href=""><mat-icon>details</mat-icon></a>
            <a class="ml-2" ><mat-icon>edit</mat-icon></a>
            <a href="javascript:void(0)" tittle="delete" class="ml-2"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
      </tbody>
    </table>
</div> -->

<div class="page-container">
  <div class="content-container">
    <mat-card fxFlex class="card-item" *ngFor="let teacher of teachers">
      <div class="card-header" fxLayout="row" fxLayoutAlign="space-betwen center">
        <h3 class="card-title" fxFlex>{{teacher.names}} {{teacher.surnames}}</h3>
        <div class="card-actions" fxFlex="2rem">
          <button mat-mini-fab color="primary" mat-tooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon> library_books </mat-icon>
            <span> Comprobantes </span>
          </button>
        </mat-menu>
      </div>
      <div class="flex-container" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-betwen start">
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Legajo</p>
          <p class="card-info-text">{{teacher.file}}</p>
        </div>
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Dni</p>
          <p class="card-info-text">{{teacher.dni}}</p>
        </div>
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Carrera</p>
          <p class="card-info-text">{{teacher.career.name}}</p>
        </div>
        <!-- <div fxFlex class="card-item-info">
          <p class="card-info-title">Dni</p>
          <p class="card-info-text">{{teacher.}}</p>
        </div>
        <div fxFlex class="card-item-info">
          <p class="card-info-title">Dni</p>
          <p class="card-info-text">{{teacher.dni}}</p>
        </div> -->
      </div>
    </mat-card>
  </div>
</div>
