<div class="page-container">
    <a href="javascript:void(0)" routerLink="/students/create-or-update" tittle="agregar"><mat-icon>add_circle</mat-icon></a>
    <div class="content-container">
      <mat-card class="card-item" *ngFor="let internship of internships">
        <div class="card-header" fxLayout="row" fxLayoutAlign="space-betwen center">
          <h3 class="card-title" fxFlex>{{internship.student.names}} {{internship.student.surnames}} [{{internship.student.file}}]</h3>
          <div class="card-actions" fxLayout="row" fxFlex="4rem">
            <button mat-mini-fab color="primary" mat-tooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></button>
          </div>
          <mat-menu #menu="matMenu">
            <button (click)="cancelInternship(internship)" mat-menu-item>
              <mat-icon> library_books </mat-icon>
              <span> Cancelar </span>
            </button>
            <button (click)="cancelInternship(internship)" mat-menu-item>
              <mat-icon> library_books </mat-icon>
              <span> Renovar </span>
            </button>
          </mat-menu>
        </div>
        <div class="flex-container" fxLayout="row" fxLayout.xs="column">
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Nombre del estudiante</p>
            <p class="card-info-text">{{internship.student.names}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Dni del estudiante</p>
            <p class="card-info-text">{{internship.student.dni}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Nombre de la compania</p>
            <p class="card-info-text">{{internship.company.name}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Cuit de la empresa</p>
            <p class="card-info-text">{{internship.company.cuit}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Cuit de la empresa</p>
            <p class="card-info-text">{{internship.observations}}</p>
          </div>
        </div>
        <div class="flex-container" fxLayout="row" fxLayout.xs="column">
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Dia de inicio</p>
            <p class="card-info-text">{{internship.startDate}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Dia de fin</p>
            <p class="card-info-text">{{internship.endDate}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Salario</p>
            <p class="card-info-text">{{internship.salaryWorkAssignment}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Gremio</p>
            <p class="card-info-text">{{internship.workAgreement}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Horas diarias</p>
            <p class="card-info-text">{{internship.dailyHours}}</p>
          </div>
        </div>
        <div class="flex-container" fxLayout="row" fxLayout.xs="column">
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Dia de creacion</p>
            <p class="card-info-text">{{internship.createdDate | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Ultima modificacion</p>
            <p class="card-info-text">{{internship.lastModified | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Dia de cancelacion</p>
            <p class="card-info-text">{{internship.cancellationDate | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div fxFlex="20" class="card-item-info">
            <p class="card-info-title">Dia de renovacion</p>
            <p class="card-info-text">{{internship.renovationDate | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

