//GENERAL
$primary: #009688;
$accent: #3f51b5;
$secondary: #F7A021;
$accent-transparency: rgba(217, 197, 224, 0.1);

$white: white;
$red: rgb(220, 20, 20);
$green: #98d436;
$orange: #F7A021;
$gray: #F4F4F4;


$light-grey: #ccc;
$dark-grey: #4d4d4d;
$bg-grey: #f4f4f4;


$black:#000000;
$almost-black:#101010;
$dark-grey: #555555;
$another-grey: #848484;
$almost-white: #F4F4F4;
$typoMed: Roboto, Medium !important ;
$typoBold: Roboto, Bold !important ;
$typoReg: Roboto, Regular !important;


$border-thin: 0.05rem solid $light-grey;
$border-thick: 0.1rem solid $dark-grey;

$search-box-small: 7rem;
$search-box-big: 12rem;

// Sidenav

$darker-blue: #272B35;
$dark-blue: #004175;


$light-blue: #5493D2;
$light-blue__hover: darken($light-blue, 2);
$light-blue__active: $light-blue__hover;

$light-blue__level1: darken($light-blue, 2.5);
$light-blue__level1__hover: darken($light-blue__level1, 1.5);
$light-blue__level1__active: $light-blue__level1__hover;

$light-blue__level2: darken($light-blue__level1, 2.5);
$light-blue__level2__hover: darken($light-blue__level2, 1.5);
$light-blue__level2__active: $light-blue__level2__hover;

$light-blue__level3: darken($light-blue__level2, 2.5);
$light-blue__level3__hover: darken($light-blue__level3, 1.5);
$light-blue__level3__active: $light-blue__level3__hover;

$light-blue__level4: darken($light-blue__level3, 2.5);
$light-blue__level4__hover: darken($light-blue__level4, 1.5);
$light-blue__level4__active: $light-blue__level4__hover;

$light-blue__level5: darken($light-blue__level4, 2.5);
$light-blue__level5__hover: darken($light-blue__level5, 1.5);
$light-blue__level5__active: $light-blue__level5__hover;

$light-blue__level6: darken($light-blue__level5, 2.5);
$light-blue__level6__hover: darken($light-blue__level6, 1.5);
$light-blue__level6__active: $light-blue__level6__hover;

$padding__sidenav-item__level2: 10px;
$padding__sidenav-item__level3: 20px;
$padding__sidenav-item__level4: 30px;
$padding__sidenav-item__level5: 40px;
$padding__sidenav-item__level6: 40px;

$max__width__sidenav: 297px;
$min__width__sidenav: 287px;
$height__footer: 160px;

$padding-left-right__sidenav-list__md-list-item: 24px;
$margin-left__sidenav-list__item-name: $padding-left-right__sidenav-list__md-list-item;
$width-height__sidenav-list__icon: 18px;

$max-width__icon-sidenav: ($padding-left-right__sidenav-list__md-list-item * 2) + $width-height__sidenav-list__icon + 2;

$z-index__md-sidenav: 4;
$z-index__md-sidenav-content: 5;
$z-index__main-toolbar: 4;

$height__main-toolbar: 64px;

// Mixins

@mixin mdShadow-z3 () {
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}
