<h3> Nueva Pasantia </h3>x

<form [formGroup]="fGroup" (ngSubmit)="onSubmit()">
  <div class="col-12 col-sm-10 col-mat-8 col-lg-7 responsive-form">

    <mat-form-field class="col-12 col-sm-6">
      <input matInput placeholder="Estudiante" [value]="studentViewValue" data-toggle="tooltip" data-placement="bottom" title="Value">
      <button matSuffix type="button" #searchArticleButton mat-icon-button class="search-item" (click)="searchStudent(1)"><mat-icon>search</mat-icon></button>
      <mat-error *ngIf="fGroup.get('studentId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-6">
      <input matInput placeholder="Empresa" [value]="companyViewValue" data-toggle="tooltip" data-placement="bottom" title="Value">
      <button matSuffix type="button" #searchArticleButton mat-icon-button class="search-item" (click)="searchCompany(2)"><mat-icon>search</mat-icon></button>
      <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>


    <mat-form-field class="col-12 col-sm-6">
      <input matInput [matDatepicker]="startPicker" readonly formControlName="startDate" autocomplete="off" placeholder="Fecha de inicio">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
      <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-6">
      <input matInput [matDatepicker]="endPicker" readonly formControlName="endDate"
             autocomplete="off" placeholder="Fecha de fin">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
      <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <input matInput placeholder="Firmante de la Compania" formControlName="companySignatory" autocomplete="off">
      <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <textarea matInput formControlName="taskDescription" placeholder="Descripcion de las tareas"></textarea>
      <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-sm-6">
      <input matInput placeholder="Tutor de la empresa" data-toggle="tooltip" data-placement="bottom" title="Value">
      <button matSuffix type="button" #searchArticleButton mat-icon-button class="search-item" (click)="searchCompanyTutor(3)"><mat-icon>search</mat-icon></button>
      <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <input matInput placeholder="Convenio Colectivo de Trabajo" formControlName="workAgreement" autocomplete="off">
      <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-5">
      <input matInput placeholder="Horas diarias" type="number" formControlName="dailyHours" autocomplete="off">
    <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <mat-form-field class="col-7">
      <input matInput placeholder="Asignacion Estimulo" type="number" formControlName="salaryWorkAssignment" autocomplete="off">
    <mat-error *ngIf="fGroup.get('companyId').hasError('required')"> El campo es requerido </mat-error>
    </mat-form-field>

    <div class="mt-2">
      <button mat-flat-button color="accent" type="submit" class="btn btn-block" [disabled]="fGroup.invalid">
        <mat-icon> add_circle </mat-icon> Añadir
      </button>
    </div>

  </div>
</form>
