<div class="page-container">

  <h2 class="text-center text-themecolor"> Nuevo Estudiante </h2> <br>

  <form [formGroup]="studentForm">
    <div>

      <ng-container *ngIf="step; else stepTwo">

        <!-- <h2 class="text-themecolor"> Informacion Escencial </h2> -->

        <!-- <mat-form-field class="col-6">
          <input matInput placeholder="Name"
          formControlName="names"
          autocomplete="off">
          <mat-error *ngIf="studentForm.get('names').hasError('required')">
            El nombre es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="studentForm.get('names').hasError('pattern')">
            Ingrese un nombre valido
          </mat-error>
        </mat-form-field> -->
        <div class="flex-container" fxLayout.xs="column" fxLayout="row" fxLayoutGap.gt-xs="1rem">
          <div class="new-input-container" fxFlex>
            <mat-form-field>
              <input matInput type="text" autocomplete="off" placeholder="Nombre" formControlName="names"
              autocomplete="off">
              <mat-error *ngIf="studentForm.get('names').hasError('required')">
                El nombre es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="studentForm.get('names').hasError('pattern')">
                Ingrese un nombre valido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="new-input-container" fxFlex>
            <mat-form-field>
              <input matInput placeholder="Surname"
              formControlName="surnames"
              autocomplete="off">
              <mat-error *ngIf="studentForm.get('surnames').hasError('required')">
                El nombre es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="studentForm.get('surnames').hasError('pattern')">
                Ingrese un nombre valido
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flex-container">
          <div class="new-input-container">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" autocomplete="off">
              <mat-error *ngIf="studentForm.get('email').hasError('required')">
                El Email es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="studentForm.get('email').hasError('email')">
                Ingrese un mail valido
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flex-container">
          <div class="new-input-container">
            <mat-form-field>
              <input matInput placeholder="Dni" formControlName="dni" autocomplete="off" type="number">
              <mat-error *ngIf="studentForm.get('dni').hasError('required')">
                El dni es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="studentForm.get('dni').hasError('pattern')">
                Ingrese un dni valido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="new-input-container">
            <mat-form-field>
              <input matInput placeholder="Cuil" formControlName="cuil" autocomplete="off" type="number">
              <mat-error *ngIf="studentForm.get('cuil').hasError('pattern')">
                Ingrese un cuil valido
              </mat-error>
              <mat-error *ngIf="studentForm.get('cuil').hasError('required')">
                el cuil es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flex-container">
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Carrera" formControlName="career" autocomplete="off">
              <mat-option *ngFor="let career of careers" [value]="career">
                {{career.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>

      <!-- Prueba -->
      <div class="flex-container">
        <div class="new-input-container new-icon-input">
          <mat-form-field>
            <input matInput placeholder="Tutor" aria-label="State">
            <button matSuffix (click)="searchTeacherDialog()"><mat-icon>search</mat-icon> </button>
          </mat-form-field>
        </div>
      </div>
      <!-- Prueba -->

      <!-- <mat-radio-group class="col-12">
        <div class="mb-3 ml-3">Sexo</div>
        <mat-radio-button class="col-6">
          Femenino
        </mat-radio-button>
        <mat-radio-button class="ml-6">
          Masculino
        </mat-radio-button>
      </mat-radio-group> -->

      <div class="mt-2">
        <button mat-flat-button color="accent" type="text" (click)="nextStep()" [disabled]="studentForm.invalid" class="btn btn-block"> <mat-icon> add_circle </mat-icon> Siguiente  </button>
      </div>

    </ng-container>

    <div formGroupName="address">
      <ng-template #stepTwo>

        <!-- <h2 class="text-themecolor"> Direccion </h2>    -->

        <mat-form-field class="col-6">
          <input matInput placeholder="Calles"
          formControlName="streetAddress">
        </mat-form-field>

        <mat-form-field class="col-6">
          <input matInput placeholder="Ciudad"
          formControlName="city">
        </mat-form-field>

        <mat-form-field class="col-12">
          <input matInput placeholder="Provincia"
          formControlName="state">
        </mat-form-field>

        <mat-form-field class="col-6">
          <input matInput placeholder="Codigo Postal"
          formControlName="zipCode"
          type="number">
        </mat-form-field>

        <mat-form-field class="col-6">
          <input matInput placeholder="País"
          formControlName="country">
        </mat-form-field>

        <div class="row col-12 m-0">
          <div class="mt-2 col-6">
            <button mat-flat-button color="warn" type="text" (click)="backStep()"  class="btn btn-block"> <mat-icon> keyboard_backspace </mat-icon> Volver  </button>
          </div>

          <div class="mt-2 col-6">
            <button mat-flat-button color="accent" type="submit"  class="btn btn-block" [disabled]="studentForm.get('address').invalid"> <mat-icon> add_circle </mat-icon> Crear  </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</form>
</div>
