<mat-toolbar class="main-toolbar">
  <div fxLayout="row" fxLayoutGap="1rem">
      <button (click)="openCloseSidenav($event)">
        <mat-icon>{{menu}}</mat-icon>
      </button>
    <img src="./../../assets/">
    <span fxFlex></span>
  </div>
</mat-toolbar>
<mat-sidenav-container class="all-wrap">
  <mat-sidenav class="sidenav" [mode]="sidenavMode" appMsIconSidenav #sidenav>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrap">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
