<a href="javascript:void(0)" routerLink="/intern/create-or-update" tittle="agregar" class="ml-2"><mat-icon>add_circle</mat-icon></a>
<table>
    <thead>
      <tr>
        <th scope="col"> Legajo </th>
        <th scope="col"> Nombre Completo </th>
        <th scope="col"> Dni </th>
        <th scope="col"> Email </th>
        <th scope="col"> Carrera </th>
        <th scope="col"> Rol </th>
        <th scope="col"> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Legajo"> 20899 </td>
        <td data-label="Nombre Completo"> Corvalan Gabriel </td>
        <td data-label="Dni"> 40475304 </td>
        <td data-label="Email"> Gabrielcn6 @gmail.com </td>
        <td data-label="Email"> Tecnico Superior En Programación </td>
        <td data-label="Rol">
          <label class="badge badge-danger">
              Estudiante
          </label>
        </td>
        <td  data-label="Acciones">
          <!-- <a href=""><mat-icon>details</mat-icon></a> -->
          <a class="ml-2" ><mat-icon>edit</mat-icon></a>
          <a href="javascript:void(0)" tittle="delete" class="ml-2"><mat-icon>delete</mat-icon></a>
        </td>
      </tr>
      <tr>
          <td data-label="Legajo"> 20900 </td>
          <td data-label="Nombre Completo"> Feely Gabriela </td>
          <td data-label="Dni"> 41475304 </td>
          <td data-label="Email"> Gabi Feely @Hotmail.com </td>
          <td data-label="Email"> Tecnica Superior En Periodismo </td>
          <td data-label="Rol">
            <label class="badge badge-danger">
                Estudiante
            </label>
          </td>
          <td  data-label="Acciones">
            <!-- <a href=""><mat-icon>details</mat-icon></a> -->
            <a class="ml-2" ><mat-icon>edit</mat-icon></a>
            <a href="javascript:void(0)" tittle="delete" class="ml-2"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr>
            <td data-label="Legajo"> 20899 </td>
            <td data-label="Nombre Completo"> Marcelo Lauriente </td>
            <td data-label="Dni"> 40475304 </td>
            <td data-label="Email"> Marcelo Lauriente @gmail.com </td>
            <td data-label="Email"> Administracion </td>
            <td data-label="Rol">
              <label class="badge badge-danger">
                  Profesor
              </label>
            </td>
            <td  data-label="Acciones">
              <!-- <a href=""><mat-icon>details</mat-icon></a> -->
              <a class="ml-2" ><mat-icon>edit</mat-icon></a>
              <a href="javascript:void(0)" tittle="delete" class="ml-2"><mat-icon>delete</mat-icon></a>
            </td>
          </tr>
    </tbody>
  </table>