<div class="page-container">
  <a href="javascript:void(0)" routerLink="/companies/create-or-update" tittle="agregar"><mat-icon>add_circle</mat-icon></a>
  <div class="content-container">
    <mat-card class="card-item" *ngFor="let user of users">
      <div class="card-header" fxLayout="row" fxLayoutAlign="space-betwen center">
        <h3 class="card-title" fxFlex>{{user.names}} {{user.surnames}}</h3>
        <div class="card-actions" fxFlex="2rem">
          <button mat-mini-fab color="primary" mat-tooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon> library_books </mat-icon>
            <span> Comprobantes </span>
          </button>
        </mat-menu>
      </div>
      <div class="flex-container" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Dni</p>
          <p class="card-info-text">{{user.dni}}</p>
        </div>
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Fecha de nacimiento</p>
          <p class="card-info-text">{{user.birthdate | date}}</p>
        </div>
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Email</p>
          <p class="card-info-text">{{user.email}}</p>
        </div>
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Nombre del rol</p>
          <p class="card-info-text">{{user.rol.name}}</p>
        </div>
        <div fxFlex="20" class="card-item-info">
          <p class="card-info-title">Posicion en la universidad</p>
          <p class="card-info-text">{{user.universityPosition}}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
