<div class="responsive">
  <table>
    <thead>
      <tr>
        <th scope="col"> Nombre de usuario </th>
        <th scope="col"> Email </th>
        <th scope="col"> Rol </th>
        <th scope="col"> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Nombre de usuario"> Gabrielcn6 </td>
        <td data-label="Email"> Gabrielcn6@gmail.com </td>
        <td data-label="Rol">
          <label class="badge badge-danger">
              Administrador
          </label>
        </td>
        <td  data-label="Acciones">
          <!-- <a href=""><mat-icon>details</mat-icon></a> -->
          <a class="ml-2" ><mat-icon>edit</mat-icon></a>
          <a href="javascript:void(0)" tittle="delete" class="ml-2"><mat-icon>delete</mat-icon></a>
        </td>
      </tr>
      <tr>
        <td data-label="Nombre de usuario"> GabiFeely </td>
        <td data-label="Email"> GabiFeely@hotmail.com </td>
        <td data-label="Rol">
          <label class="badge badge-info">
              Student
          </label>
        </td>
        <td  data-label="Acciones">
          <!-- <a href=""><mat-icon>details</mat-icon></a> -->
          <a class="ml-2" ><mat-icon>edit</mat-icon></a>
          <a href="javascript:void(0)" tittle="delete" class="ml-2"><mat-icon>delete</mat-icon></a>
        </td>
      </tr>
      <tr>
        <td data-label="Nombre de usuario"> Gabrielcn6 </td>
        <td data-label="Email"> Gabrielcn6@gmail.com </td>
        <td data-label="Rol">
          <label class="badge badge-danger">
              Administrador
          </label>
        </td>
        <td  data-label="Acciones">
          <!-- <a href=""><mat-icon>details</mat-icon></a> -->
          <a class="ml-2" ><mat-icon>edit</mat-icon></a>
          <a href="javascript:void(0)" tittle="delete" class="ml-2"><mat-icon>delete</mat-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
