<div class="sidenav-container" fxLayout="column">
  <mat-toolbar color="primary" class="sidenav-toolbar">
    <div fxLayout="row">
        <!-- <img class="logo" src="/src/assets/img/anses_logo.svg" width="70px"> -->
        <img src="./../assets/img/anses_logo.svg" class="logo-menu">
      <!-- <img style="height: 35px; margin-left: 24px; margin-bottom: -5px;" src="assets/img/logo.png" fxFlexAlign="center" class="fade-in-on-icon-sidenav"> -->
      <span fxFlex></span>

    </div>
  </mat-toolbar>
  <div class="sidenav-scrollbar-container">
    <mat-nav-list fxLayout="column" class="sidenav-list sidenav-toplevel">
      <app-sidenav-item [item]="homeItem"></app-sidenav-item>
      <app-sidenav-item *ngFor="let item of items" [item]="item"></app-sidenav-item>
      <app-sidenav-item (click)="logout()"  style="height: 10rem" [item]="exitItem"></app-sidenav-item>
    </mat-nav-list>
  </div>
</div>
